<app-header-participant></app-header-participant>
<body>

    <!-- ***** Welcome Area Start ***** -->
    <div class="welcome-area" id="welcome">

        <!-- ***** Header Text Start ***** -->
        <div class="header-text">
            <div class="container">
                <div class="row">
                    <div class="left-text col-lg-6 col-md-12 col-sm-12 col-xs-12"
                        data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                       
                        <h2 style="font-size:25px; font-weight: bold; ">With <em>ESPRIT</em> , you can search millions <br>
                            of jobs online to find the next step <br>
                            in your career. </h2>
                            <br>
                           <h5> With tools for job search, resumes, <br>
                            company reviews and more together </h5>
                           <br>
                        <a href="#about" class="main-button-slider">Let's Start</a>
                     
                    </div>
                </div>
            </div>
        </div>
        
        
        <!-- ***** Header Text End ***** -->
    </div>
    <!-- ***** Welcome Area End ***** -->

    <!-- ***** Features Big Item Start ***** -->
    <section class="section" id="about"    >
        <div class="container" class="section d-flex justify-content-center align-items-center">
            <div class="row" class="section d-flex justify-content-center align-items-center">
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12"
                    data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <div class="features-item">
                        <div class="features-icon">
                            <h2>01</h2>
                            <img src="assets/images/features-icon-1.png" alt="">
                            <h4> Check Partnership companies </h4>
                            <p>Discover companies and job opportunities that align with your profile. Explore positions that suit your skills and ambitions. 
                                Find the perfect match for your next career move among organizations that share your values and career vision.
                                </p>
                            <a href="showcompanys" class="main-button">
                                Get Started
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12"
                    data-scroll-reveal="enter bottom move 30px over 0.6s after 0.4s">
                    <div class="features-item">
                        <div class="features-icon">
                            <h2>02</h2>
                            <img src="assets/images/features-icon-2.png" alt="">
                            <h4>Check Available Offers </h4>
                            <p>Discover companies and job opportunities that align with your profile. Explore positions that suit your skills and ambitions. 
                                Find the perfect match for your next career move among organizations that share your values and career vision.</p>
                            <a href="listoffer" class="main-button">
                               Get Started
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12"
                    data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                    <div class="features-item">
                        <div class="features-icon">
                            <h2>03</h2>
                            <img src="assets/images/features-icon-3.png" alt="">
                            <h4>My interviews Application
                                </h4>
                            <p>Your application for interviews is a special opportunity to secure an interview slot on the day of the Esprit Forum. 
                                This platform offers a chance to schedule interviews with potential Companys, enhancing your prospects for success.</p>
                            <a href="#testimonials" class="main-button">
                                Get Started
                            </a>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </section>
    <!-- ***** Features Big Item End ***** -->

    <!-- ***** Footer Start ***** -->
    <footer id="contact-us">
        <div class="container">
            <div class="footer-content">
                <div class="row">
                    <!-- ***** Contact Form Start ***** -->
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="contact-form">
                            <form id="contact" action="" method="post">
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <fieldset>
                                            <input name="name" type="text" id="name" placeholder="Full Name" required=""
                                                style="background-color: rgba(250,250,250,0.3);">
                                        </fieldset>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <fieldset>
                                            <input name="email" type="text" id="email" placeholder="E-Mail Address"
                                                required="" style="background-color: rgba(250,250,250,0.3);">
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-12">
                                        <fieldset>
                                            <textarea name="message" rows="6" id="message" placeholder="Your Message"
                                                required="" style="background-color: rgba(250,250,250,0.3);"></textarea>
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-12">
                                        <fieldset>
                                            <button type="submit" id="form-submit" class="main-button">Send Message
                                                Now</button>
                                        </fieldset>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- ***** Contact Form End ***** -->
                    <div class="right-content col-lg-6 col-md-12 col-sm-12">
                        <h2>More About <em>Esprit Forum</em></h2>
                        <p>The Esprit Forum is an annual gathering that serves as a pivotal platform for professionals, students, and entrepreneurs alike to converge,
                             exchange ideas, and explore burgeoning opportunities in various industries. With its diverse array of keynote speakers, 
                            interactive workshops, and networking sessions,
                            <br><br> the forum fosters an environment ripe for innovation and collaboration.  <a
                                rel="nofollow" href="https://templatemo.com/contact" target="_parent">contact</a> page
                            for more detail.</p>
                        <ul class="social">
                            <li><a href="https://fb.com/templatemo"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-rss"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
           
        </div>
    </footer>

   

</body>
