<div *ngIf="users && users.length > 0" class="profile-info text-start mt-5">
  <div class="row mb-3">
    <div class="col-md-6" *ngFor="let user of users">
      <div class="card mb-3" style="border-radius: 15px;">
        <div class="card-body">
          <h6 class="fs-5"><strong>Username:</strong> {{ user.username }}</h6>
          <h6 class="fs-5"><strong>Email:</strong> {{ user.email }}</h6>
          <h6 class="fs-5"><strong>CIN:</strong> {{ user.cin }}</h6>
          <h6 class="fs-5"><strong>Date of Birth:</strong> {{ user.dateN }}</h6>
          <h6 class="fs-5"><strong>Last Name:</strong> {{ user.nom }}</h6>
          <h6 class="fs-5"><strong>First Name:</strong> {{ user.prenom }}</h6>
          <h6 class="fs-5"><strong>Role:</strong> {{ user.role }}</h6>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!users || users.length === 0">
  <p>No users found.</p>
</div>
