<!-- organiser-form.component.html -->
<app-header-participant></app-header-participant>
<app-hero-participant></app-hero-participant>
<!--testimonials Start-->
<div  >
  <section id="testimonials" class="testimonials">
    <div class="container" data-aos="zoom-in">
  
      <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
        <div class="swiper-wrapper">
  
          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
              <h3>Be part of our dynamic team organizing an upcoming forum event </h3>
              
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
  Do you want to join Us as an Organiser              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div><!-- End testimonial item -->
  
          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
              <h3>Sara Wilsson</h3>
              <h4>Join us </h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div><!-- End testimonial item -->
  
          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
              <h3>Jena Karlis</h3>
              <h4>Store Owner</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div><!-- End testimonial item -->
  
          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
              <h3>Matt Brandon</h3>
              <h4>Freelancer</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div><!-- End testimonial item -->
  
          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
              <h3>John Larson</h3>
              <h4>Entrepreneur</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div><!-- End testimonial item -->
        </div>
        <div class="swiper-pagination"></div>
      </div>
  
    </div>
  </section>
<!--testimonials End-->
<form  [formGroup]="userForm" (ngSubmit)="handleOn()" enctype="multipart/form-data">
 
  <div class="form" style="padding-top: 100px; margin-left: 300px; margin-right: 300px;">
  
  <div class="form-group">
    <label for="email">User Email:</label>
    <input type="email" class="form-control" id="email" formControlName="email" required>
  </div>

  <div class="form-group">
    <label for="address">UserName:</label>
    <input type="text" class="form-control" id="userName" formControlName="userName" required>
  </div>
 
  <div class="form-group">
    <label for="typeTask">Task Type:</label>
    <select class="form-control" id="typeTask" formControlName="typeTask" required>
      <option value="" disabled>Select a task type</option>
      <option *ngFor="let type of typeTask" [value]="type">{{ type }}</option>
    </select>
  </div>
  
  
  <div style="padding-top: 20px;" class="form-group">
    <!-- Ajoutez formControlName="file" ici -->
    <div type="file" class="form-control" id="file" required >

    <input class="form-control"  type="file" (change)="onFileSelected($event)"  required>
    <div *ngIf="uploadProgress !== undefined">Progress: {{ uploadProgress }}%</div>
  </div>
  
  </div>
  
 

  <button style="margin-top: 20px;" type="submit" class="btn btn-primary">Affect Task to User</button>
  </div>
</form>
<app-contact-participant></app-contact-participant>
</div>