
<app-header-participant></app-header-participant>
<app-hero-participant></app-hero-participant>
<section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
        <div class="col-xl-6 col-lg-8">
          <h1>Powerful Digital Solutions With Esprit<span>.</span></h1>
          <h2>Join us and become an integral part of the event forum publication. </h2>
        </div>
      </div> 
    
      
    
      

    <!---->  <div class="row gy-4 mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-store-line"></i>
            <h3><a href="">Join us as an participant</a></h3>
          </div>
          
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-bar-chart-box-line"></i>
            <h3><a href="">Event Services</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-calendar-todo-line"></i>
            <h3><a href="">List Of Compagnies</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-paint-brush-line"></i>
            <h3><a href="">More Details</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-database-2-line"></i>
            <h3><a href="">List of Tasks</a></h3>
          </div>
        </div>
      </div>

    </div>
</section>
<section id="features" class="features">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="image col-lg-6" style='background-image: url("assets/img/forum-des-entreprises-ESPRIT (1).jpg");' data-aos="fade-right"></div>
        <div class="col-lg-6" data-aos="fade-left" data-aos-delay="100">
          <div class="icon-box mt-5 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">
            <i class="bx bx-receipt"></i>
            <h4>Event Information

               </h4>
            <p> Display details about upcoming events, including date, time, location, and agenda.
            .</p>
          </div>
          <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
            <i class="bx bx-cube-alt"></i>
            <h4> Registration and Ticketing</h4>
            <p> 
      
                Allow users to register for events and purchase tickets.
                Generate and send electronic tickets or confirmations.</p>
          </div>
          <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
            <i class="bx bx-images"></i>
            <h4>User Profiles</h4>
            <p>
      
                Enable users to create and manage their profiles.
                Include features for customizing profiles with personal and professional information.</p>
          </div>
          <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
            <i class="bx bx-shield"></i>
            <h4> Discussion Forums</h4>
            <p> 
      
                Host discussion forums for participants to engage with each other.
                Categorize discussions by topics, sessions, or themes.</p>
          </div>
        </div>
      </div>

    </div>
  </section>
<section id="cta" class="cta">
    <div class="container" data-aos="zoom-in">

      <div class="text-center">
        <h3>Join us at this event to explore compelling opportunities.



        </h3>
        <p>Come and be part of our upcoming event where you'll have the chance to uncover a multitude of exciting opportunities</p>
        <a class="cta-btn" href="InterfOrganiser">Join Us as a organiser</a>
      </div>

    </div>
  </section>