<app-header-participant></app-header-participant>
<section id="testimonials" class="testimonials">
  <div class="container" data-aos="zoom-in">

    <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
      <div class="swiper-wrapper">

        <div class="swiper-slide">
          <div class="testimonial-item">
            <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
            <h3>Saul Goodman</h3>
            <h4>Ceo &amp; Founder</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item">
            <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
            <h3>Sara Wilsson</h3>
            <h4>Designer</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item">
            <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
            <h3>Jena Karlis</h3>
            <h4>Store Owner</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item">
            <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
            <h3>Matt Brandon</h3>
            <h4>Freelancer</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item">
            <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
            <h3>John Larson</h3>
            <h4>Entrepreneur</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>
        </div><!-- End testimonial item -->
      </div>
      <div class="swiper-pagination"></div>
    </div>

  </div>
</section>
<div style="padding-top: 100px; padding-left: 150px ;" class="col-lg-8 mt-5 mt-lg-0">

    <form [formGroup]="participantForm" (ngSubmit)="addParticipant()" class="php-email-form" action="forms/contact.php" method="post" role="form" class="php-email-form">
      <div class="row">
        <div class="col-md-6 form-group">
          <input type="firstName" class="form-control" formControlName="firstName" name="firstName" id="firstName" placeholder="Your firstName" required>

        </div>
        <div class="col-md-6 form-group">
          <input type="lastName" class="form-control" formControlName="lastName" name="lastName" id="lastName" placeholder="Your lastName" required>

        </div>
       
      </div>
      <div class="form-group mt-3">
        <input type="mail" class="form-control" formControlName="mail" name="mail" id="mail" placeholder="Your Email" required>
      </div>
      <div class="form-group mt-3">
        <input type="text" class="form-control" formControlName="address" name="address" id="address" placeholder="address" required>
      </div>
      <div class="form-group mt-3">
        <label for="birth_date">Your Birth Date</label>
        <input type="datetime-local" class="form-control" formControlName="birth_date" name="birth_date" id="birth_date" required>
      </div>
      
      <div class="form-group mt-3">
        <label for="availability">Your Availability</label>
        <input type="datetime-local" class="form-control" formControlName="availability" name="availability" id="availability" required>
      </div>
      <div style="margin-top: 20px;" class="row">
        <div class="col-md-6 form-group">
          <select id="participant" name="participant" formControlName="participantType" class="form-control" required>
            <option value="" disabled selected>Select an option</option>
            <option *ngFor="let participantType of  participantTypes" [value]="participantType">{{ participantType }}</option>
          </select>
      </div>
      <div class="col-md-6 form-group">
        <select id="speciality" name="speciality" formControlName="specialityType" class="form-control" required>
          <option value="" disabled selected>Select an option</option>
          <option *ngFor="let specialityType of specialityTypes" [value]="specialityType">{{ specialityType }}</option>
        </select>
      </div>
      
      <div class="col-md-6 form-group">
        <select id="degree" name="degree" formControlName="degreeType" class="form-control" required>
          <option value="" disabled selected>Select an option</option>
          <option *ngFor="let degreeType of degreeTypes" [value]="degreeType">{{ degreeType }}</option>
        </select>
      </div>
      
    
    
      </div>
      <div class="form-group mt-3">
        <label for="availability">Point of interest !</label>

        <textarea class="form-control" formControlName="message" name="message" rows="" placeholder="Message" required></textarea>
      </div>
      <div class="form-group mt-3">
        <label for="availability">Why to join this event!</label>

        <textarea class="form-control" formControlName="message" name="message" rows="5" placeholder="Message" required></textarea>
      </div>
      <div class="col-md-6 form-group">
        <label for="cv">Upload your CV (allowed formats: .docx, .pdf)</label>
        <input type="file"  formControlName="cv" />

    </div>
    
    <div class="col-md-6 form-group">
        <label for="motivationLetter">Upload your Motivation Letter (allowed formats: .docx, .pdf)</label>

<input type="file"  formControlName="motivationLetter" />

    </div>
    
      <div class="my-3">
        <div class="loading">Loading</div>
        <div class="error-message"></div>
        <div class="sent-message">Your message has been sent. Thank you!</div>
      </div>
      <div class="col-md-6 form-group">
        <!-- Your form fields go here -->
    </div>
    
    <button  (click)="handleButtonClick()" type="button">Send Message</button>

          </form>

  </div>
<app-contact-participant></app-contact-participant>