<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center justify-content-lg-between">
    <h1 class="logo me-auto me-lg-0"><a href="index.html">ESPRIT<span></span></a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link scrollto" href="#hero">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link scrollto" href="#about">Profil</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link" href="#"><span>Event</span> <i class="bi bi-chevron-down"></i></a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Event 1</a></li>
            <li><a class="dropdown-item" href="#">Event 2</a></li>
          </ul>
        </li>
      </ul>

      <ul class="nav"> <!-- Ouvrir une nouvelle liste -->
        <li class="nav-item">
          <a class="nav-link scrollto" href="#hero">ShowPacks</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link" href="#"><span>Show Offers</span> <i class="bi bi-chevron-down"></i></a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Intership PFA </a></li>
            <li><a class="dropdown-item" href="#">Intership PFE </a></li>
            <li><a class="dropdown-item" href="#">Job </a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link scrollto" href="#contact">Contact</a>
        </li>
      </ul>

      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

    <a href="#about" class="get-started-btn scrollto">LOGOUT</a>
  </div>
</header>