.fixed-size-container {
    width: 370px; /* Remplacez cette valeur par la taille souhaitée */
    height: 300px; /* Remplacez cette valeur par la taille souhaitée */
    margin: 0 auto; /* Pour centrer le conteneur horizontalement */
}

.text-left {
    text-align: left;
}

.btn-dark-gray {
    color: #fff;
    background-color: #bebebe; /* Couleur gris foncé */
    border-color: #b4b2b2; /* Couleur du bord */
}

.btn-dark-gray:hover {
    background-color: #858080; /* Couleur gris foncé plus foncée au survol */
    border-color: #7a7878;
}

.pagination-container {
    display: flex;
    justify-content: center;
}

