<section id="hero" class="d-flex align-items-center justify-content-center">
  <div class="container" data-aos="fade-up">

    <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
      <div class="col-xl-6 col-lg-8">
        <h1>THE ALL-IN-ONE EVENT PLATFORM<span>.</span></h1>
        <h2>THE solution to optimize the organization of events for ESPRIT.</h2>
      </div>
    </div>

    <div id="layoutSidenav">
      <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <!-- ... Votre contenu de la barre latérale ici ... -->
      </nav>
      <div id="layoutSidenav_content">
        <main>
          
          <div class="table-container">
            <table class="table event-table">
              <thead>
                <tr>
                  <th>Nom</th>
                  <th>Description</th>
                  <th>Quantité</th>
                  <!-- ... autres en-têtes de colonnes ... -->
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let callForTender of callForTenders">
                  <td>{{ callForTender.name }}</td>
                  <td>{{ callForTender.description }}</td>
                  <td>{{ callForTender.quantity }}</td>
                  <!-- ... autres cellules de données ... -->
                  <td>
                    <button class="btn btn-primary" (click)="openPopup()">Participer</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </main>
      </div>
    </div>

    <div id="popup" class="popup">
      <div class="popup-content">
        <!-- Contenu de la fenêtre contextuelle -->
        <h3>Popup Content</h3>
        <p>wooooow</p>
        <button class="btn btn-primary" (click)="closePopup()">Fermer</button>
      </div>
    </div>

  </div>
</section>