
<app-header-participant></app-header-participant>
<app-hero-participant></app-hero-participant>

<section id="cta" class="cta">
    <div class="container" data-aos="zoom-in">

      <div class="text-center">
        <h3>Join us at this event to explore compelling opportunities.



        </h3>
        <p>Come and be part of our upcoming event where you'll have the chance to uncover a multitude of exciting opportunities</p>
        <a class="cta-btn" href="Formparticipant">Participate</a>
      </div>

    </div>
  </section>