<!-- Section: Design Block -->
<section class="text-center text-lg-start">
  <style>
    .cascading-right {
      margin-right: -50px;
    }

    @media (max-width: 991.98px) {
      .cascading-right {
        margin-right: 0;
      }
    }
  </style>
<div id="error-icon" class="error-icon"></div>

  <!-- Jumbotron -->
  <div class="container py-4">
    <div class="row g-0 align-items-center">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <div class="card cascading-right" style="
            background: hsla(0, 0%, 100%, 0.55);
            backdrop-filter: blur(30px);
            ">
          <div class="card-body p-5 shadow-5 text-center">
            <h2 class="fw-bold mb-5">Sign up now</h2>
            <form (ngSubmit)="save()">
              <!-- 2 column grid layout with text inputs for the first and last names -->
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                      <input type="text" [(ngModel)]="userName" name="userName" class="form-control form-control-lg" required />
                      <label class="form-label" for="userName"> Name</label>
                  </div>
                </div>
               
              </div>
              <div class="row">
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input type="text" [(ngModel)]="address" name="address" class="form-control form-control-lg" required />
                      <label class="form-label" for="address">Address</label>
                    </div>
                  </div>
              
                </div>

                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                        <input type="email" [(ngModel)]="email" name="email" class="form-control form-control-lg" required />
                        <label class="form-label" for="email">Email</label>
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                        <input type="password" [(ngModel)]="password" name="password" class="form-control form-control-lg" required />
                          <label class="form-label" for="password">Password</label>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <select [(ngModel)]="role" name="role" class="form-control form-control-lg" required>
                        <option value="ADMIN">ADMIN</option>
                        <option value="EVENTORG">EVENTORG</option>
                        <option value="PARTICIPENT">PARTICIPENT</option>
                        <option value="COMPANY">COMPANY</option>
                      </select>
                      <label class="form-label" for="role"> role</label>
                    </div>
                  </div>
                 
                </div>

           

              <!-- Submit button -->
              <button type="submit" class="btn btn-primary btn-block mb-4" routerLink="/login">
                Sign up
              </button>

              <!-- Register buttons -->
              <div class="text-center">
                <p>or sign up with:</p>
                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-facebook-f"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-google"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-twitter"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-github"></i>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0">
        <img src="https://mdbootstrap.com/img/new/ecommerce/vertical/004.jpg" class="w-100 rounded-4 shadow-4"
          alt="" />
      </div>
    </div>
  </div>
  <!-- Jumbotron -->
</section>
<!-- Section: Design Block -->